.App {
  width: 100vw;
  height: 100vh;
}


/* HomePart */

  .Home{
    width: 100vw;
    height: 100vh;
    background-image: url("Ressources/Images/Background/1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .HomeOverlay{
    width: 100vw;
    height: 100vh;
    background: rgb(18,19,22);
    background: linear-gradient(0deg, rgba(18,19,22,1) 0%, rgba(18,19,22,1) 16%, rgba(18,19,22,0.75) 50%);
  }
  .HomeText{
    width: 30vw;
    text-align: center;
    margin: auto;
    translate: 0 45vh;
    animation-duration: 1s;
  }

  .HomeText h1{
    font-size: 3.5vw;
  }
  .HomeText p{
    font-size: 1.5vw;
  }

  .HomeText > div > *{
    display: inline;
    color: white;
  }

  .ScrollDown{
    width: 30vw;
    text-align: center;
    margin: auto;
    translate: 0 80vh;
    animation-duration: 1s;
  }

  .ScrollDown a{
    color: white;
    text-decoration: none;
  }

  .ScrollDown svg{
    color: white;
    translate: 1vw;
  }





/* About */

  .About{
    width: 100vw;
    height: 80vh;
    background-color: rgba(18,19,22);
    
  }
  .About div{
    width: 50vw;
    float: left;
    margin-top: 20vh;
    height: 50vh;
  }
  .AboutText{
    visibility: hidden;
    animation-duration: 0.5s;
  }
  .AboutText h1{
    font-size: 5vh;
    color: white;
    width: 40vw;
    margin: auto;
  }
  .AboutText p{
    padding-top: 5vh;
    font-size: 2vh;
    color: rgb(201, 201, 201);
    width: 40vw;
    margin: auto;
  }






/* Event */

  .Events{
    width: 100vw;
    height: 100vh;
    background-color: rgba(18,19,22);
  }
  .Events > div{
    float: left;
    width: 100%;
    margin-top: 5vh;
    animation-duration: 1s;
  }
  .Events > div > div{
    animation-duration: 1s;
  }
  .Events > div > h1{
    color: white;
    text-align: center;
  }
  .Events > div > div{
    float: left;
    width: 33%;
  }
  .Events > div > div > img{
    float: left;
    width: 90%;
    text-align: center;
    border-radius: 30px;
    translate: 1.5vw;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .Events > div > div > img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
  .Events > div {
    text-align: center;
    padding-top: 5vh;
  }
  .Events > div > a {
    color: white;
    text-decoration: none;
    padding: 2vh;    
    background-color: rgb(51,51,51);
    border: 1px solid rgb(128,128,128);
    border-radius: 30px;
  }



/* FAQ */
.FAQ{
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(18,19,22);
  padding-bottom: 10vh;
}
.FAQ-Title{
  float: left;
  text-align: center;
  width: 100vw;
  height: 10vh;
  margin: auto;    
  padding-bottom: 5vh;

}
.FAQ div h1{
  color: white;
}

.Question{
  width: 100vw;
  height: auto;
  padding-top: 2vh;
  float: left;
  translate: 15vw;
}



/* Staff */
.Staff{
  width: 100vw;
  height: 110vh;
  background-color: rgba(18,19,22);
}
.Staff-Title{
  float: left;
  text-align: center;
  width: 100vw;
  height: 10vh;
  margin: auto;    
  padding-bottom: 5vh;
  color: white;
}
.Selected-Staff{
  float: left;
  width: 50vw;
  height: 60vh;
  
}
.Displayed-Staff{
  float: left;
  width: 50vw;
  height: 60vh;
  translate: 0 10vh;
  border-radius: 3vw;
}
.Displayed-Staff > div {
  float: left;
}
.Selected-Staff-Container{
  background-color: rgb(25,26,29);
  margin: auto;
  width: 40vw;
  height: 70vh;
  translate: 0 10vh;
  border-radius: 3vw;
}
.Selected-Staff-Container-1{
  width: 40vw;
  height: 30vh;

}
.Selected-Staff-Container-2{
  width: 40vw;
  height: 30vh;

}
.Selected-Staff-Container-1 > div {
  float: left;
}
.Selected-Staff-Container-PDP{
  background-color: aliceblue;
  width: 15vw;
  height: 15vw;
  border-radius: 100vw;
  margin: 1vw;
}

.Selected-Staff-Container-PDP img{
  background-color: aliceblue;
  width: 15vw;
  height: 15vw;
  border-radius: 100vw;
}
.Selected-Staff-Container-TXT{
  width: 23vw;
  height: 15vw;
}
.Selected-Staff-Container-TXT h1{
  color: white;
  font-size: 3vw;
  padding-left: 2vw;
}
.Selected-Staff-Container-TXT h2{
  color: green;
  font-size: 1.2vw;
  padding-left: 2vw;
}
.Selected-Staff-Container-TXT p{
  color: white;
  font-size: 1.2vw;
  padding-left: 2vw;
}


.Selected-Staff-Container-2{
  padding-top: 2vh;
}
.Selected-Staff-Container-2 > div{
  width:35vw;
  margin: auto;
  font-size: 1.2vw;
  color: white;
}

.Selected-Staff-Container-2 > div > a{
  color: green;
  font-size: 1.5vw;
  text-decoration: none;
}
.Selected-Staff-Container-2 > div > a > span{
  color: white;
  font-size: 1.3vw;
  margin-left: 1vw;
}

.Selected-Staff-Container-2 > div > *{
  float: left;
}

.Selected-Staff-Container-2-link{
  translate: 1vw 2vh;
}