.App {
width: 100vw;
height: 100vh;
background-color: rgb(14, 16, 17);
}


/* HomePart */

.Home{
width: 100vw;
height: 100vh;
background-image: url("Ressources/Images/Background/1.png");
background-image: url("Ressources/Images/Background/TowerBG.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
.HomeOverlay{
width: 100vw;
height: 100vh;
background: rgb(18,19,22);
background: linear-gradient(0deg, rgba(18,19,22,1) 0%, rgba(18,19,22,0.75) 20%);
}
.HomeText {
width: 30vw;
text-align: center;
margin: auto;
transform: translate(0, 45vh);
animation-duration: 1s;
}

.HomeText h1 {
font-size: 3.5vw;
}

.HomeText p {
font-size: 1.5vw;
}

.HomeText > div > * {
display: inline;
color: white;
}

.ScrollDown {
width: 30vw;
text-align: center;
margin: auto;
transform: translate(0, 75vh);
animation-duration: 1s;
}

.ScrollDown a {
color: white;
text-decoration: none;
}

.ScrollDown svg {
color: white;
transform: translate(1vw);
}



/* About */

.About {
width: 100vw;
height: 80vh;
background-color: rgba(18, 19, 22);
display: flex;

}

.About div {
width: 50vw;
/* float: left; */
/* margin-top: 20vh;
height: 50vh; */
}

.AboutText {
animation-duration: 0.5s;
display: flex;
justify-content: center;
align-items: center;

}

.AboutText h1 {
font-size: 5vh;
color: white;
width: 40vw;
margin: auto;
}

.AboutText p {
padding-top: 5vh;
font-size: 2vh;
color: rgb(201, 201, 201);
width: 40vw;
margin: auto;
}
.AboutImage {
display: flex;
justify-content: center;
align-items: center;
}


.AboutImage > img {
width: 25vw;
}


/* Event */

.Events{
width: 100vw;
height: 100vh;
background-color: rgba(18,19,22);
}
.Events > div{
display: flex;
float: left;
width: 100%;
margin-top: 5vh;
animation-duration: 1s;
justify-content: center;

}
.Events > div > div{
animation-duration: 1s;

}
.Events > div > h1{
color: white;
text-align: center;
}
.Events > div > div{
float: left;
width: 33%;
}
.Events > div > div > img{
float: left;
width: 90%;
text-align: center;
border-radius: 30px;
translate: 1.5vw;
transition: all 0.3s ease;
cursor: pointer;
}
.Events > div > div > img:hover{
transform: scale(1.05);
transition: all 0.3s ease;
}
.Events > div {
text-align: center;
padding-top: 5vh;
}
.Events > div > a {
color: white;
text-decoration: none;
padding: 2vh;    
background-color: rgb(51,51,51);
border: 1px solid rgb(128,128,128);
border-radius: 30px;
}
.event > a{
width: 20vw;
}
.event > a > img{
width: 30vw;
border-radius: 15px;
}

/* Partners */
.Partners{
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgba(18,19,22);
padding-bottom: 10vh;

}

.Partners div h1{
color: white;
padding: 2vw;
}
.PartnersContainer {
color: white;

}
.PartnersContainer > a {
padding: 5vw;
}
.PartnersContainer > a > img{
transition: all 0.3s ease;
}
.PartnersContainer > a > img:hover{
/* padding: 5vw; */
transform: scale(1.2);
transition: all 0.3s ease;
}
.PartnersContainer > a > img{
width: 15vw;
}

/* FAQ */
.FAQ{
width: 100vw;
display: flex;
flex-direction: column;
align-items: center;
background-color: rgba(18,19,22);
padding-bottom: 10vh;
padding-top: 10vh;
}
.FAQ-Title{
float: left;
text-align: center;
width: 100vw;
height: 10vh;
margin: auto;    
padding-bottom: 5vh;

}
.FAQ div h1{
color: white;
}


.Question{
width: 100vw;
height: auto;
padding-top: 2vh;
float: left;
translate: 15vw;
}

.JoinForm-Question{
margin-top: 15vh;
width: 100vw;
height: 10vh;
animation-duration: 1s;
}

.JoinForm-Question p{
color:rgb(7, 120, 148);
padding: 2vh;
margin-left: 1vw;
font-size: 2.5vh;
cursor: pointer;
}
.JoinForm-Question a:hover{
text-decoration: underline;
}
.JoinForm-Question h1{
font-size: 5vh;
}
.JoinForm-Question h2{
font-size: 2.5vh;
padding-top: 3vh;
padding-bottom: 7vh;
}

/* JoinForm-Question1 */

.JoinForm-Question1{
display: block;
animation-duration: 1s;
margin-top: 15vh;
width: 100vw;
height: 10vh;
translate: 0 -10vh;

}

.JoinForm-Question1 p{
font-size: 3vh;
padding-bottom: 5vh;
}
.JoinForm-Question1 a{
padding: 2.5vh;
padding-left: 5vh;
padding-right: 5vh;
color:white;
background-color: rgb(25,26,29) ;
margin-left: 1vw;
transition: all 0.3s ease;
text-decoration: none;
}

.JoinForm-Question1 a:hover{
color:rgb(25,26,29);
background-color: rgb(155, 155, 155) ;
transition: all 0.3s ease;
}

/* JoinForm-Question-true  */
.JoinForm-Question-true {
display: none;
margin-top: 25vh;
width: 100vw;
height: 10vh;
animation-duration: 1s;
translate:25vw -10vh;
}
.JoinForm-Question-true p{
margin-top: 15vh;
color:rgb(230, 230, 230);
cursor: pointer;
translate:2.5vw -10vh;
}
.JoinForm-Question-true p:hover{
margin-top: 15vh;
color:rgb(172, 172, 172);
text-decoration: underline;
cursor: pointer;
}
.JoinForm-Question-true a{
padding: 2.5vh;
padding-left: 5vh;
padding-right: 5vh;
margin-top: 15vh;
color:white;
background-color: rgb(25,26,29) ;
transition: all 0.3s ease;
text-decoration: none;
}

.JoinForm-Question-true a:hover{
color:rgb(25,26,29);
background-color: white;
transition: all 0.3s ease;
}



/* JoinForm-Question-false  */
.JoinForm-Question-false {
display: none;
margin-top: 25vh;
width: 100vw;
height: 10vh;
animation-duration: 1s;
translate: 25vw -10vh;
}
.JoinForm-Question-false p{
margin-top: 15vh;
color:rgb(230, 230, 230);
cursor: pointer;
translate:3vw -10vh;
}
.JoinForm-Question-false p:hover{
margin-top: 15vh;
color:rgb(172, 172, 172);
text-decoration: underline;
cursor: pointer;
}

.JoinForm-Question-false a{
padding: 2.5vh;
padding-left: 5vh;
padding-right: 5vh;
margin-top: 15vh;
color:white;
background-color: rgb(25,26,29);
text-decoration: none;
transition: all 0.3s ease;
}

.JoinForm-Question-false a:hover{
color:rgb(25,26,29);
background-color: white;
transition: all 0.3s ease;
}


/* TimeLapses */
.Timelapses{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(18,19,22);
    padding-bottom: 10vh;
}
.Timelapses div h1{
    color: white;
    padding: 2vw;
}
.TimelapsesContainer {
    color: white;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TimelapsesContainer>iframe{
    border-radius: 30px;
}

    



/* Staff */
.Staff{
width: 100vw;
height: 110vh;
background-color: rgba(18,19,22);
}
.Staff-Title{
float: left;
text-align: center;
width: 100vw;
height: 10vh;
margin: auto;    
padding-bottom: 5vh;
color: white;
}
.Selected-Staff{
float: left;
width: 50vw;
height: 60vh;

}
.Displayed-Staff{
float: left;
width: 50vw;
height: 60vh;
translate: 0 10vh;
border-radius: 3vw;
}
.Displayed-Staff > div {
float: left;
}
.Selected-Staff-Container{
background-color: rgb(25,26,29);
margin: auto;
width: 40vw;
height: 70vh;
translate: 0 10vh;
border-radius: 3vw;
animation-duration: 0.5s;
}
.Selected-Staff-Container-1{
width: 40vw;
height: 30vh;

}
.Selected-Staff-Container-2{
width: 40vw;
height: 30vh;

}
.Selected-Staff-Container-1 > div {
float: left;
}
.Selected-Staff-Container-PDP{
/* background-color: aliceblue; */
width: 15vw;
height: 15vw;
border-radius: 100vw;
margin: 1vw;
background-image: url("./Ressources/Images/Logo/logo.svg");
background-size: cover;
}
.Selected-Staff-Container-PDP img{
background-color: aliceblue;
width: 15vw;
height: 15vw;
border-radius: 100vw;
}
.Selected-Staff-Container-TXT{
width: 23vw;
height: 15vw;
}
.Selected-Staff-Container-TXT h1{
color: white;
font-size: 2.5vw;
padding-left: 2vw;
}
.Selected-Staff-Container-TXT h2{
color: green;
font-size: 1.2vw;
padding-left: 2vw;
}
.Selected-Staff-Container-TXT p{
color: white;
font-size: 1.2vw;
padding-left: 2vw;
}
.Selected-Staff-Container-2{
padding-top: 2vh;
}
.Selected-Staff-Container-2 > div{
width:35vw;
margin: auto;
font-size: 1vw;
color: white;
}
.Selected-Staff-Container-2 > div > a{
color: green;
font-size: 1.5vw;
text-decoration: none;
}
.Selected-Staff-Container-2 > div > a > span{
color: white;
font-size: 1.3vw;
margin-left: 1vw;
}
.Selected-Staff-Container-2 > div > *{
float: left;
}
.Selected-Staff-Container-2-link{
translate: 1vw 2vh;
}
.Selected-Staff-Container-2-description > p {
font-size: 1.1vw;
}

/* Footer */
.Footer{
width: 100vw;
height: 80vh;
background-color: rgba(18,19,22);
display: flex;
justify-content: center; /* Center horizontally */
align-items: center;
}
.Footer-Container{
width: 80vw;
height: 40vh;
translate: 0 15vh;
}
.Footer-Links{
width: 80vw;
height: 35vh;
border-bottom: 1px solid rgb(167, 167, 167);
}
.Footer-Links > div{
width: 16vw;
height: 40vh;
float: left;
}
.Footer-Links > div > img{
width: 7vw;
translate: 3vw;
}
.Footer-Links > div > h1{
color: white;
font-size: 1.5vw;

}
.Footer-Links > div > a{
color: rgb(167, 167, 167);
font-size: 1vw;
text-decoration: none;
display: block;
padding-bottom:1vh ;
}
.Footer-Links > div > a:hover{
color: rgb(201, 201, 201);
}
.Footer-Foot{
width: 80vw;
height: calc(10vh - 1px);
translate: 0 -3vh;
}
.Footer-Foot > *{
float: left;
}
.Footer-Foot h1{
color: rgb(167, 167, 167);
font-size: 2vh;
width: 70vw;
}
.Footer-Foot a{
color: rgb(167, 167, 167);
font-size: 2.5vh;
padding:1vh ;
}

.Footer-Foot a:hover{
color: rgb(209, 209, 209);
font-size: 2.5vh;
padding:1vh ;
}

/* ////////////////////////////////////// */
.RedWarning{
color: white!important;
background-color: rgb(143, 11, 11);
padding: 1vw;
}